/* General Styles */
* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif; /* or any similar sans-serif font */
  }
  
  /* Layout Styles */
  .login-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4D5B0; /* Adjusted to match the image background */
    padding: 50px; /* or as needed */
    height: 100vh;
  }
  
  /* Brand Container Styles */
  .brand-container .logo {
    max-width: 200px; /* Adjust to match the image */
    margin-bottom: 2rem;
  }
  
  /* Form Container Styles */
  .form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adjust shadow intensity as needed */
    width: 350px; /* Adjust width as needed */
    text-align: center;
  }
  
  /* Text Styles */
  .login-text.hello {
    font-size: 32px; /* Adjust size as needed */
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333; /* Adjust color as needed */
  }
  
  .login-text.small {
    font-size: 18px; /* Adjust size as needed */
    color: #555; /* Adjust color as needed */
    margin-bottom: 2rem;
  }
  
  /* Input Field Styles */
  .input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
  }
  
  /* Button Styles */
  .button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  .form-button:hover {
    opacity: 0.9; /* Simple hover effect */
  }
  
  /* Alert Message Styles */
  .alert-message {
    color: red;
    margin-top: 1rem;
  }
  