.page {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff; /* Texto blanco para mayor contraste */
    background: #e1d5a0; /* Color de fondo principal */
    min-height: 100vh;
    font-family: Open Sans; 
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    background-color: #DCBE68;
    margin-top: -20px;
}

.img-fluid {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.display-4 {
    font-size: 69px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0em;
    margin: 0;
    margin-left: 13%;

}

.bg-custom-jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCBE68;
    color: #fff;
    margin-top: -1.6%;
}


.row {
    margin-top: 5vh;
}

.btn-custom-primary {
    background-color: #A67028;
    border-color: #956328;
    margin-left: 43%;
    padding: 1rem 1px;
    margin-top: 10%;
    width: 200px;
}

.btn-custom-primary:hover {
    background-color: #875424;
    border-color: white;
    color: #F1BF32;
}

.card-custom {
    border-color: #9D6B29; /* Color personalizado para los bordes de las tarjetas */
}

.card-title-custom {
    color: #C69332;
}

.card-text {
    color: black;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    margin-top: 11%;
    padding-top: 0.5em;
}

.footer h5 {
    color: #C69332;
}

.col-md-4 {
    position: relative;
    margin-top: -3%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #F1BF32;
}

.footer p {
    color: #fff;
}

.footer .bi {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/* Ajustes para los íconos de redes sociales */
.footer .bi-facebook:hover { color: #3b5998; }
.footer .bi-twitter:hover { color: #00acee; }
.footer .bi-instagram:hover { color: #C13584; }
