/* Estilos Base para el Dashboard */

.dashboard-layout[b-3me7renqrl]{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #757575;
}

.dashboard-container[b-3me7renqrl] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    padding: 20px;
    background-color: #757575;
}

/* Dropdown Container */
.dropdown-container[b-3me7renqrl] {
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor Principal */
.content-container[b-3me7renqrl] {
    background-color: #956328;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.content-container h1[b-3me7renqrl] {
    color: #fff;
    text-align: center;
}

/* Sección de Enlace */
.link-section[b-3me7renqrl] {
    background-color: #A6732C;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
    text-align: center;
}

.link-section a[b-3me7renqrl] {
    color: #C69332;
    text-decoration: none;
}

.link-section a:hover[b-3me7renqrl] {
    text-decoration: underline;
}

/* Contenedor de Métricas */
.metrics-container[b-3me7renqrl] {
    background-color: #B07D2E;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
    text-align: center;
}

.metrics-container h2[b-3me7renqrl] {
    color: #BF8B30;
}

.metrics-container p[b-3me7renqrl] {
    color: #fff;
}

/* Estilos para Dropdown */
select[b-3me7renqrl] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #B5832F;
    background-color: white;
    color: black;
}
